@import "./variables.scss";
@import "./mixins.scss";

* {
  @include default-page-behavior;
}

input {
  margin: .4em;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url(https://images.unsplash.com/photo-1556292990-e4f4a36222e5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80);
}

.static-container{
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  width: 100%;
  max-width: 90%;
  background-color: rgba(0, 25, 0, 0.7);
}

.hotel-info-box{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  width:100%
}

.hotel-description {
  color: white;
  padding: 1.5em;
  display: flex;
  align-items: center;
}

#hotel-about-me{
  text-align: center;
  font-size: 150%;
  font-family: 'Cardo', serif;
}

#hotel-name {
  text-transform: uppercase;
  color: #BBCBDC
}

.main-img-containter,
.hotel-description {
   width:50%;
}

#hotel-load-image{
  width: 100%;
}

.login-box {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  width:100%;
  padding-bottom: 2em;
}

.login-instruction-text {
  color:white;
  font-size: 125%;
}

.login-verification {
  border: 2px solid white;
  padding: 10px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  font-size: 100%;
  text-align: center;
}

.login-verification::placeholder {
  font-size: 115%;
  color: white;
  opacity: .5;
}

.login-input{
  display: flex;
  align-items: center;
}

#login-image {
  width: 2.5rem;
  background-color: green;
}

.disabled{
  opacity: .1;
}

//Start User Styling
.welcome-message{
  width: 100%;
}

#user-welcome-message {
  color: white;
  font-size: 125%;
  padding-top: 2%;
  align-items: center;
  text-align: center;
}

.user-important-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  width: 100%;
  padding: 2em;
  height: 30em;
}

.user-interaction-box {
  width: 33%;
  display: flex;
  flex-direction: column;
}

#user-past-bookings-box {
  display: flex;
  flex-direction: column;
  height: 25%;
  overflow: auto;
}
#user-upcoming-bookings-box {
  display: flex;
  flex-direction: column;
  height: 25%;
  overflow: auto;
}

.available-rooms-info {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.available-room {
    padding: 1em;
    margin: auto;
    align-items: center;
}

.room-image{
  width:100%;
}

.room-details{
  color:white;
  text-align: center
}

.room-selector-box {
  display: flex;
  flex-direction: column;
  padding: .5em;
}

.available-room-details {
  display: flex;
  flex-direction: column;
  height: 50%;
  overflow: auto;
}
//End User Styling
//Start Manager Styling
.manager-top-box{
  width:100%;
  color:white;
  display: flex;
  flex-direction: row;
}

.hotel-overview-info{
  text-align: center;
  width:100%;
  font-size: 120%;
}

.manager-bottom-box{
  color: white;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  padding: 2em;
}

.manager-create-booking {
  display: flex;
  flex-direction: column;
  height: 50%;
  overflow: auto;
}

.manager-bottom-sections {
  height: 30em;
  overflow: scroll;
}

#manager-bottom-1 {
  width:49%;
}

#manager-bottom-2
#manager-bottom-3 {
  width:25%;
}

@media screen and (max-width: 1130px) {
  .main-img-containter,
  .hotel-description {
     width:100%;
  }
}
