@import "./variables.scss";
@import "./mixins.scss";

* {
  @include default-page-behavior;
}

input {
  border: $inputColorScheme;
  margin: .4em;
}

input[type=text] {
  transition: $inputTransition;
}

input[type=text]:focus {
  border: $inputColorScheme;
  transition: $inputTransition;
  width: 52%;
}

body {
  align-items: center;
  background-image: url(https://images.unsplash.com/photo-1556292990-e4f4a36222e5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80);
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.static-container{
  @include overFlow(hidden, auto)
  background-color: rgba(0, 25, 0, 0.7);
  display: flex;
  flex-flow: wrap;
  max-width: 90%;
  max-height: 90vh;
  padding: 2em;
  width: 100%;
}

.hotel-info-box{
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  width:100%;
}

.hotel-description {
  align-items: center;
  color: white;
  display: flex;
  padding: 1.5em;
}

#hotel-about-me{
  font-family: 'Cardo', serif;
  font-size: 150%;
  text-align: center;
}

#hotel-name {
  color: $pigeon-post;
  text-transform: uppercase;
}

.main-img-containter,
.hotel-description {
   width:50%;
}

#hotel-load-image{
  width: 100%;
}

.login-box {
  @include primary-flex(column);
  align-items: center;
  justify-content: center;
  padding-bottom: 2em;
  width:100%;
}

.login-instruction-text {
  @include font-properties(white, 125%)
}

.login-verification {
  @include font-properties(white, 100%)
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid white;
  padding: 10px;
  text-align: center;
}

.login-verification::placeholder {
  @include font-properties(white, 115%)
  opacity: .5;
}

.login-input{
  align-items: center;
  display: flex;
}

#login-image {
  background-color: $casal;
  width: 2.5rem;
}

.disabled{
  opacity: .0;
  pointer-events: none;
}

.form-group {
  padding-bottom: .5em;
}

//Start User Styling
.welcome-message-box {
  width: 100%;
}

.welcome-message{
  width: 100%;
}

#user-welcome-message {
  @include font-properties(white, 125%)
  align-items: center;
  text-align: center;
}

.user-important-info {
  @include primary-flex(row);
  color: white;
  flex-flow: wrap;
  justify-content: space-between;
  padding: 2em;
  width: 100%;
}

.user-interaction-box {
  @include primary-flex(column);
  width: 33%;
}

#user-past-bookings-box {
  @include primary-flex(column);
  height: 25%;
  overflow: auto;
}

#user-upcoming-bookings-box {
  @include primary-flex(column);
  height: 25%;
  overflow: auto;
}

.available-rooms-info {
  @include primary-flex(row);
  align-items: center;
  justify-content: center;
  width: 100%;
}

.available-room {
  align-items: center;
  margin: auto;
  padding: 1em;
}

.room-image{
  width:100%;
}

.room-details{
  color:white;
  text-align: center
}

.room-selector-box {
  @include primary-flex(column);
  padding: .5em;
}

.available-room-details {
  @include primary-flex(column);
  max-height: 15em;
  overflow: auto;
}
//End User Styling
//Start Manager Styling
.manager-top-box{
  color:white;
  display: flex;
  width:100%;
}

.hotel-overview-info{
  font-size: 120%;
  text-align: center;
  width:100%;
}

.manager-search-past-bookings{
  overflow: scroll;
}

.manager-bottom-box{
  @include primary-flex(row);
  color: white;
  flex-flow: wrap;
  justify-content: space-around;
  padding: 2em;
  width: 100%;
}

.manager-create-booking {
  display: none;
  flex-direction: column;
  height: 50%;
  overflow: auto;
  max-height: 15em;
}

.manager-bottom-sections {
  overflow: scroll;
  width: 33%;
}

#manager-bottom-2 {
  text-align: center;
}

#manager-bottom-3  {
  text-align: left;
}

.user-requested-booking-date {
  height: 3em;
}
//End Manager styling
@media screen and (max-width: 1130px) {
  .main-img-containter,
  .hotel-description {
     width:100%;
  }
}

@media screen and (max-width: 689px) {
  .user-interaction-box,
  .user-past-bookings-box,
  .user-upcoming-bookings-box,
  .manager-bottom-sections {
    text-align: left;
    width: 100%;
    padding-bottom: 1em;
  }

  .user-past-bookings-box ul,
  .user-upcoming-bookings-box ul,
  .guest-search-form,
  .manager-create-booking p,
  #manager-bottom-2,
  #manager-bottom-3 {
    list-style-type: none;
    text-align: center;
  }
}
